<!DOCTYPE html>
<html lang="en">
{{>header}}

<body>
    {{>navbar}}
    <div class="container" id="indexcont">
        <div class="row">
            <div class="col-12 py-2 col-md-6 aboutme">
                <div class="card py-2 text-center" id="aboutcard" style="background-color: #f19447;">
                    <div id="aboutcardpic">
                        <img src="/images/mylogo.png" class="card-img-top" alt="..." id="cardpic">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Raspreet Singh Pasrija</h4>
                        <hr>
                        <h6 class="card-text">
                            <span style="font-weight: bold;"> <i class="fas fa-envelope-square fa-lg"></i> : </span>
                            <a href="mailto:raspreets89@gmail.com" target="_blank" class="socialLinks">
                                raspreets89@gmail.com
                            </a>
                        </h6>
                        <hr>
                        <h6 class="card-text">
                            <span style="font-weight: bold;"> <i class="fa-brands fa-linkedin-in"></i> : </span>
                            <a href="tel:+918962942505" target="_blank"
                                class="socialLinks">
                                +91 8962942505
                            </a>
                        </h6>
                        <hr>
                        <h6 class="card-text">
                            <span style="font-weight: bold;"> <i class="fas fa-map-marker-alt fa-lg"></i> :</span>
                            Than Khamaria, Bemetara, Chhattisgarh - 491338
                        </h6>
                    </div>

                </div>
            </div>
            <div class="col-12 col-md-6 aboutme" id="detailed">
                <h4 id="naming">I'm Raspreet Singh Pasrija ,</h4>
                <h5 id="cllg">
                    Graduated in Bachelor of Engineering in Computer Science. I'm an aspiring Full-stack developer & I love exploring and building projects using various technologies.
                </h5>
                <a href="/images/Raspreet_Singh_Pasrija_Resume.pdf" download="">
                    <button type="button" class="btn btn-outline-danger" id="downloadCV">
                        Resume <i class="fa-solid fa-file-circle-plus"></i>
                    </button>
                </a>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>