<!DOCTYPE html>
<html lang="en">
{{>header}}

<body>
    {{>navbar}}
    <div class="container" id="indexcont">
        <h2 class="text-center my-4" id="eduhead"><i class="fas fa-book-reader fa-lg"></i> Education</h2>
        <div class="row" id="academicstable">
            <div class="col-12 col-md-10" >
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Degree</th>
                            <th scope="col">Board/University</th>
                            <th scope="col">CGPA/Percent</th>
                            <th scope="col"> Year</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>SSC</th>
                            <td>CBSE</td>
                            <td>8.8 CGPA</td>
                            <td>2016</td>
                        </tr>
                        <tr>
                            <th>HSC</th>
                            <td>CBSE</td>
                            <td>58 %</td>
                            <td>2018</td>
                        </tr>
                        <tr>
                            <th>B.E.</th>
                            <td>CSVTU</td>
                            <td>76 %</td>
                            <td>2022</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>