<!DOCTYPE html>
<html lang="en">
{{>header}}

<body>
    {{>navbar}}
    <div class="container" id="indexcont">
        <div class="row">
            <div class="col-12 col-md-6 col-sm-6 mine" >
                <img src="/images/mylogo.png" alt="Not Found" id="mypic">
            </div>
            <div class="col-12 col-md-6 col-sm-6 mine" id="detailed">
                <span class="text-muted" style="font-weight: bold;" id="muted">HELLO EVERYONE ! </span>
                <h3>I am <span id="naming">Raspreet singh Pasrija</span></h3>
                <h4 id="fieldinfo">Full Stack Developer</h4>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>