<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Portfolio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " href="/"><i class="fas fa-home fa-lg"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/about"><i class="far fa-address-card fa-lg"></i> About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/academics"><i class="fas fa-book-reader fa-lg"></i> Academics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/skills"><i class="fas fa-laptop-code fa-lg"></i> Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/projects"><i class="fas fa-clipboard-list fa-lg"></i> Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/feedback"><i class="fas fa-comment-dots fa-lg"></i> Feedback</a>
        </li>
      </ul>
      <div>
        <a href="https://github.com/Raspreets42" target="_blank">
          <i class="fab fa-github fa-lg"></i>
        </a>
        <a href="https://www.linkedin.com/in/raspreetsinghpasrija" target="_blank">
          <i class="fab fa-linkedin fa-lg"></i>
        </a>
      </div>
    </div>
  </div>
</nav>