<div class="container">
  <div class="about" id="aboutsection">
    <div class="row">
      <div class="col-lg-6">
        <div class="image-wrapper">
          <img  src="../../assets/img/external/img.gif" alt="funky-coder-img" i18n-alt>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-text">
          <h1 class="aboutmeheading" i18n>&nbsp;About Me 🤘&nbsp;</h1>
          <p class="about-paragraph" i18n>
            I am a <b>Computer Science</b> graduate who got graduated at <b> Rungta College of Engineering and Technology, Bhilai </b>
            in 2022 with <b>B.Tech</b> Degree.
            I am a skilled developer by profession who loves to solve challenges on a regular basis.
          </p>
          <p class="about-paragraph" i18n>
            I began my professional journey with <b>Click2Cloud Technology Services India Pvt. Ltd.</b> right after graduation, which provided immense opportunities for growth both technically and personally.
            During my time there, I have been responsible for building and optimizing RESTful APIs, applying efficient code optimization techniques.
            In addition to technical work, I actively collaborate with cross-functional teams, including designers and developers, fostering a positive and productive environment.
          </p>
          </div>
      </div>
    </div>
  </div>
</div>
