<div id="experience-section">
  <div class="container">
    <div class="heading">
      <h1 class="section-heading">&nbsp;Experience 💡&nbsp;</h1>
    </div>
    <div class="row">
      <div class="col">
        <div class="card exp-card">
          <div class="wrapper">
            <div class="left-side col-lg">
              <img class="client-logo" src="../../assets/img/external/Experience/click2cloud.png" alt="Compant Logo">
              <h5 class="client-name">Click2Cloud Technology Services India Pvt. Ltd.</h5>
              <p class="tenure">Sept 2022 - Present</p>
            </div>
            <div class="right-side col-lg-8">
              <h3 class="role">Software Development Engineer</h3>
              <p class="desc">I worked on the Organization's Product like <b>CloudsIntel, Agripilot.AI and SmartTalent Portal.</b> </p>
              <p class="resp-title">Responsibilites</p>
              <ul class="resp-list">
                <li class="resp-item">Responsible for Built and optimized RESTful APIs, improving response times by 20-30%</li>
                <li class="resp-item">Developed efficient and secure web applications, focusing on improving user interactions with websites and applications</li>
                <li class="resp-item">Debugging and testing software components to ensure smooth functionality and reduce bugs</li>
                <li class="resp-item">Participated in code reviews and learning best practices for coding standards, security, and performance.</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
      <div class="col">
        <div class="card exp-card">
          <div class="wrapper">
            <div class="left-side col-lg-4">
              <img class="client-logo" src="../../assets/img/external/Experience/verzeo.png" alt="Compant Logo">
              <h5 class="client-name">Verzeo</h5>
              <p class="tenure">May 2021 - July 2021</p>
            </div>
            <div class="right-side col-lg-8">
              <h3 class="role">Software Engineer Intern</h3>
              <p class="desc">I worked on the Official Verzeo Website after trainings and collaborated with teams to deliver impactful features.</p>
              <p class="resp-title">Responsibilites</p>
              <ul class="resp-list">
                <li class="resp-item">Acquired practical experience in software development processes, practices, and tools</li>
                <li class="resp-item">Gained knowledge in web technologies, including Javascript, React and Node.js</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
